body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: aliceblue;
}

header {
    font-weight: 600;
    font-size: xx-large;
    background-color: slategrey;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    padding-left: 100px;
}

h1 {
    color: #708090;
    margin-right: 50px;
}

h2 {
    color: #a9a9a9;
    margin-bottom: 10px;
}
h3 {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #708090;
    margin-bottom: 10px;
}

.title-1 {
    display: flex;
    align-items: center;
}

.close {
    color: #708090;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

svg:hover {
    fill: #da6262;
}

input {
    margin-left: 10px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #a9a9a9;
}

.authInput {
    padding: 10px;
    font-size: 15px;
    color: #708090;
    background-color: aliceblue;
    width: 167px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.authInput::placeholder {
    font-size: 15px;
}

.filterInput {
    margin-left: 0;
    width: 310px;
    padding: 10px 20px;
    border-radius: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    border: none;
    background-color: #a9a9a9;
    resize: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.notes {
    width: 350px;
}

.notesListSt {
    display: none;
    background-color: #a9a9a9;
    width: 350px;
    height: auto;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    list-style-type: none;
    padding: 10px 30px;
}

.newNotesSt {
    display: none;
    background-color: #a9a9a9;
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 50%;
    height: 350px;
    border-radius: 20px;
    flex-direction: column;
}

.noteHeaderSt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-button svg {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

.listDiv {
    display: flex;
}

.btn {
    color: #ffffff;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: slategrey;
    border: none;
}

.btnAuth {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    float: right;
    border-radius: 8px;
    width: 100px;
    height: 25px;
    background-color: aliceblue;
    color: #708090;
}

.btnAuth:hover {
    background-color: #708090; /* Darker shade for contrast */
    color: aliceblue;           /* Swap text color */
    cursor: pointer;            /* Show pointer on hover */
    transform: scale(1.05);     /* Slightly enlarge the button */
    transition: all 0.3s ease;  /* Smooth transition effect */
}


.btn:hover {
    color: #da6262;
}

.modal {
    background-color: #a9a9a9;
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    float: right;
    visibility: hidden;
    z-index: 10000;
}